.job-card {
    background: #FFF;
    color: #212323;
    padding: 7px 14px;
    border-radius: 5px;
    margin: 15px 0;
    border: 5px solid #FFF;
    box-shadow: 0 0 0 10px #FFF inset;
    box-sizing: border-box;
}

.job-card h3, .job-card h4 {
    font-weight: bold;
    margin-bottom: 5px;
}

.job-card ul {
    list-style: none;
    padding-left: 0;
}

.skills-container {
    display: flex;
    gap: 5px;
}

.skills-pill {
    background: #544aea;
    border-radius: 5px;
    padding: 7px 14px;
    color: #FFF;
    font-size: 0.85em;
}