@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-Regular.ttf);
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: 'Manrope';
    src: url(/src/fonts/Manrope-ExtraLight.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: 'Just Handwritten';
    src: url(/src/fonts/PermanentMarker-Regular.ttf);
}

body {
    background: #212323;
    color: #FFF;
    font-family: 'Manrope', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    margin: 0;
}

header {
    position: fixed;
    height: 55px;
    width: 100%;
    margin-top: 15px;
}

nav {
    background: rgb(211 212 212 / 9%);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.8px);
    -webkit-backdrop-filter: blur(6.8px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7px 14px;
    width: 70%;
    margin: 0 auto;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav a {
    color: inherit;
    text-decoration: none;
    padding: 0 7px;
}

.logo {
    font-family: 'Just Handwritten', cursive;
    font-size: 2em;
}

.current-nav-item {
    font-weight: bold;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

img {
    max-width: 100%;
}

.btn {
    display: inline-block;
    border-radius: 5px;
    padding: 7px 14px;
    font-family: inherit;
    text-decoration: none;
    margin: 2px;
    cursor: pointer;
}

.purple-btn {
    background-color: #544aea;
    color: #FFF;
    border: solid 2px #453cc6;
}

.purple-btn:hover {
    background-color: #453cc6;
    transition: background-color 0.75s;
}

.inverse-btn {
    background: #FFF;
    color: #212323;
    border: solid 2px #eceaea;
}

.inverse-btn:hover {
    background: #eceaea;
    transition: background-color 0.75s;
}

.container {
    max-width: 70%;
    padding: 20px 50px;
    margin: 0 auto;
}

.hero {
    background: #544aea;
    padding: 120px 0 100px;
}

.hero-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}

.rounded {
    border-radius: 5px;
}

.card {
    border: solid 1px #454343;
    max-width: 300px;
    text-align: left;
    padding: 10px 20px;
    font-size: 0.85em;
}

.card img {
    margin-bottom: 10px;
}

.bold-txt {
    font-weight: bold;
}

.center-txt {
    text-align: center;
}

.diceBtn {
    display: flex;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: #544aea;
    box-shadow: 0 0 15px #FFF;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 30px;
    user-select: none;
}

.diceBtnContent {
    margin: auto;
}

footer {
    background: #544aea;
    padding: 7px 14px;
    font-size: 0.80em;
    text-align: center;
}

[role=button] {
    cursor: pointer;
}