@font-face {
    src: url("/assets/fonts/Manrope-Regular.ttf");
    font-family: 'Manrope';
}

@font-face {
    src: url("/assets/fonts/Manrope-ExtraLight.ttf");
    font-family: 'Manrope';
    font-weight: lighter;
}

@font-face {
    src: url("/assets/fonts/Manrope-Bold.ttf");
    font-family: 'Manrope';
    font-weight: bold;
}

@font-face {
    src: url(/assets/fonts/ShadowsIntoLight-Regular.ttf);
    font-family: 'ShadowsIntoLight';
}

body {
    background: #212323;
    color: #EDF2F4;
    font-family: 'Manrope', system-ui, -apple-system, sans-serif;
    margin: 0;
}

header {
    position: sticky;
    width: 100%;
    background: rgba(33, 35, 35, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 5px );
    -webkit-backdrop-filter: blur( 5px );
    margin: 0 auto;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 40px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
}

nav a {
    color: #EDF2F4;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #8179FF;
    transition: color 0.75s;
}

nav ul li a {
    padding: 5px 10px;
}

.logo {
    letter-spacing: 0.2em;
    font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px 25px;
}

.hero {
    background: #544AEA;
    padding: 50px 0;
}

.hero-inner {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0 25px;
}

.rounded {
    border-radius: 5px;
}

.btn {
    border-radius: 5px;
    padding: 7px 21px;
    text-decoration: none;
    border: solid 1.5px;
    font-size: 0.9em;
}

a.btn {
    display: inline-block;
}

.purple-btn {
    background: #544AEA;
    color: #EDF2F4;
    border: 0;
}

.purple-btn:hover {
    background: #453CC6;
    color: inherit;
    transition: background 0.75s;
}

.transparent-btn {
    color: #EDF2F4;
    border-color: #EDF2F4;
}

.transparent-btn:hover {
    background: #EDF2F4;
    color: #212323;
    transition: background 0.75s;
}

.header-buttons {
    display: flex;
    gap: 5px;
}

.social-btn {
    padding: 7px 14px;
}

footer {
    background: #544AEA;
    padding: 25px 50px;
    text-align: center;
    font-size: 0.85em;
    font-weight: bold;
    margin-top: 10px;
}

.dropcap {
    font-size: 3.5em;
    float: left;
    margin-right: 15px;
    border-radius: 5px;
    padding: 10px;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    gap: 10px 0;
    flex-wrap: wrap;
}

.card {
    border: solid 1px #454343;
    padding: 7px 14px;
    max-width: 300px;
    font-size: 0.9em;
}

.card h3 {
    font-weight: bold;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 0 25px;
}

.col-2 {
    flex-grow: 1.5;
}

col {
    flex-grow: 1;
}

.profile-card {
    background: #EDF2F4;
    border: solid 1.5px #000;
    display: flex;
    flex-direction: column;
    padding: 15px 15px 30px;
    text-align: center;
}

.profile-card video {
    max-width: 280px;
}

.profile-txt {
    color: #212323;
    margin-top: 15px;
    font-size: 1.5em;
    font-weight: bold;
    font-family: 'ShadowsIntoLight', cursive;
}

.pill {
    border-radius: 20px;
    padding: 5px 10px;
    margin: 2.5px;
    background: #544AEA;
    font-weight: bold;
    font-size: 0.85em;
    display: inline-block;
}

.highlight {
    font-weight: bold;
    color: #8179FF
}