@font-face {
    src: url("fonts/Manrope-Regular.ttf");
    font-family: 'Manrope';
}

@font-face {
    src: url("fonts/Manrope-ExtraLight.ttf");
    font-family: 'Manrope';
    font-weight: lighter;
}

@font-face {
    src: url("fonts/Manrope-Bold.ttf");
    font-family: 'Manrope';
    font-weight: bold;
}

@font-face {
    src: url("fonts/ShadowsIntoLight-Regular.ttf");
    font-family: 'ShadowsIntoLight';
}

body {
    font-family: 'Manrope', serif;
    background: #e5e5e5;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: lighter;
}

header {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 20px auto;
    width: 75vw;
    height: fit-content;
    background: rgba(255, 255, 255, 0.51);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 10px;
    padding: 14px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 15px;
}

.nav-link {
    color: #1C1C1C;
    text-decoration: none;
    font-weight: bold;
    text-decoration-color: transparent;
    padding: 7px 14px;
    border-radius: 10px;
    border: solid 2px transparent;
}

.nav-link:hover {
    color: #544aea;
    padding: 7px 14px;
    border-radius: 10px;
    border: solid 2px #544aea;
    transition: border 0.75s;
}

.logo {
    display: block;
    width: 50px;
    border-radius: 10px;
}

.btn {
    border-radius: 10px;
    border: solid 2px #544aea;
    background: #FFF;
    color: #1C1C1C;
    text-decoration: none;
    font-weight: bold;
    padding: 7px 14px;
}

.btn:hover {
    background: #544aea;
    transition: background 0.75s, color 0.75s;
    color: #FFF;
}

.btn-filled {
    background: #544aea;
    color: #FFF;
}

.btn-filled:hover {
    background: #423aba;
}

.container {
    width: 75vw;
    margin: 0 auto;
}

.hero .highlight {
    background: #FFF;
    padding: 5px;
    font-weight: bold;
}

.highlight {
    color: #544aea;
}

.hero {
    background: #424A618C;
    color: #FFF;
    background-image: url("img/hero-bg.png");
    background-blend-mode: lighten;
    border-radius: 10px;
    padding: 14px;
}

.hero-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

section {
    margin-bottom: 21px;
}

.profile-card {
    display: flex;
    flex-direction: column;
    gap: 14px;
    text-align: center;
    background: #FFF;
    color: #1C1C1C;
    border-radius: 10px;
    border: solid 2px #000;
    padding: 14px;
}

.profile-video {
    max-width: 300px;
    border-radius: 10px;
}

.profile-text {
    font-family: 'ShadowsIntoLight', cursive;
    font-size: 2rem;
}

.bold {
    font-weight: bold;
}

.box {
    background: #FFF;
    border: 1px solid rgba(255, 255, 255, 0.34);
    border-radius: 10px;
    padding: 14px;
}

.box h2 {
    margin-top: 0;
}

.card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 14px;
}

.card {
    background: #FFF;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.34);
    padding: 14px;
    border-radius: 10px;
    text-align: center;
}

.card-img {
    border-radius: 10px;
}

.card h2 {
    margin: 5px;
}

.card p {
    text-align: justify;
    margin-top: 0;
}

.card .btn {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

footer {
    font-size: 0.9rem;
    text-align: center;
    padding: 14px;
}

.back-to-top-btn {
    color: #544aea;
    display: flex;
    margin: auto;
    text-decoration: none;
    font-size: 3rem;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 50%;
    scroll-behavior: smooth;
}

.back-to-top-btn:hover {
    color: #423aba;
    transition: color 0.75s;
}